<link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet"/>
<script src="https://cdn.tailwindcss.com"></script>

<div id="main" class="flex h-96 justify-center bg-blue-600">
  <div class="text-center"> <!-- ⬅️ THIS DIV WILL BE CENTERED -->
      <h1 class="mt-24 text-white text-5xl font-extrabold font-sans" >{{title}}</h1>
      <img [src]="image" alt="image" class="w-36 mt-2 absolute top-0 left-72">
      <h1 class="text-white text-xl font-extrabold mt-5">Лёгкий способ купить авиабилеты дёшево</h1>
      <div class="flex items-start mt-24">

        <div>
          <input id="from" type="text" (focus)="fromFocused = true" (blur)="fromFocused = false" [(ngModel)]="searchText" class="pt-2 h-16 pr-10 rounded-l-xl w-48 pl-5 align-middle border-white border-2 focus:outline-none focus:border-yellow-500" placeholder="Откуда">
          <ul class="list-group list-group-flush bg-white shadow-md rounded-b-xl" *ngIf="fromFocused">
            <li onclick="fromItemClick()" class="pt-3 text-left pl-3 font-sans font-extrabold pb-3 h-10 border-b border-gray-200 w-full" *ngFor="let c of characters | filter: searchText">
              {{c}}
            </li>
          </ul>
        </div>
        
        <input type="text" class="pt-2 ml-0.5 w-48 pl-5 align-middle h-16 border-2 border-white focus:outline-none focus:border-yellow-500" placeholder="Куда">
        <input type="text" class="h-16 pt-2 ml-0.5 w-48 pl-5 align-middle border-2 border-white focus:outline-none focus:border-yellow-500" placeholder="Когда">
        <input type="text" class="h-16 pt-2 ml-0.5 w-48 pl-5 align-middle border-2 border-white focus:outline-none focus:border-yellow-500" placeholder="Обратно">
        <input type="text" class="h-16 pt-2 ml-0.5 rounded-r-xl w-48 pl-5 border-2 align-middle focus:outline-none border-white focus:border-yellow-500" placeholder="">
        <button type="submit" class="bg-yellow-600 h-16 ml-3 font-extrabold text-xl w-48 pt-2 text-white rounded-xl ">Найти билеты</button>
      </div> 
  </div>
</div>
